<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="URL Redirect Main Index-asp" />
                <remove name="URL Redirect - Main" />
                <rule name="URL Redirect" stopProcessing="true">
                    <match url="^$" />
                    <conditions logicalGrouping="MatchAny" />
                    <action type="Redirect" url="https://www.vfsglobal.com/en/individuals/index.html" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
